body{
	font-family: 'Arimo', arial, serif;
	
}
a{
	color:white;
	text-decoration:none;
	
	
	
	
}
a:hover{
	color:#999;
	
}
.nav{
	margin-left:20px;
	font-size:20px;	
	height:25px;
	
}
#wrap{
	
	background-image:url("images/background.jpg");
	
	text-align:center;
	width:1150px;
	
	
	
}
#top{
	
	margin: 0 auto;
	width:1200px;
}

#content{
	width:960px;
	height:auto;
	background-color: white;
	float:left;
	margin-left:100px;
	text-align:left;
	
	
	
}
#header{
	width:960px;
	height:60px;
	background-color: white;
	
}

#logo{
width:140px;
height:55px;
margin-left: 10px;	
background-image:url("images/gestioslogo.png");

}
#navbar{
width:960px;
height:35px;
padding-top:15px;
background-image:url("images/navbar.jpg");

}
#explain{
	
}
#explainGraphic{
	width:607px;
	height:350px;
	margin-top:10px;
	background-color: white;
	background-image:url("images/explain.png");
	background-repeat:no-repeat;
	background-position: right;
	float:left;
	
	
}

#explainText{
width:180px;
height:240px;
float:left;
padding-left:90px;	
padding-top:90px;	
font-size:16px;
color:#58595B;
line-height:28px;
}



#dml{
	width:960px;
	height:250px;
	margin-top:10px;
	background-color:white;
	text-align:center;
	
	
}

.dslSquare{
	width:230px;
	height:110px;
	margin-top: 10px;
	border-style:solid;
	border-width:3px;
	border-color:#006838;
	float:left;
}
.dslHead{
	
	text-align:left;
	color:#006838;
	font-size:35px;
	font-weight:bold;
	margin-left:-3px;
	margin-top:-10px;
}

.dslText{
	margin-top:20px;
	margin-left:10px;
	
	font-size:14px;
	text-align:left;
}

#design{
	margin-left:90px;
	
	
}

#setup{
	margin-left:45px;
	
	
}

#learn{
	margin-left:45px;
	
	
}

#designHead{
	
}

#setupHead{
	
	
}

#learnHead{
	
	
}

#designText{
	
	
}

#designText{
	
	
}

#designText{
	
	
}

#copy{
	width:auto;
	text-align:center;
	font-size:10px;
	color:#999;
	
}


.clear {
	clear: both;
	height: 0px;
	font-size:1px;
	line-height: 0px;
}
